* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.titulo-jogos {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    background-color: #333;
    text-align: center;
    margin-bottom: 2px;
    font-size: 1.8rem;
    height: auto;
    width: 100%;
}

.show-table {
    background-color: rgb(202, 200, 200);
    padding: 10px;
    border-radius: 8px;
    height: 70dvh;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: flex-start;
}


.show-table table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.show-table th,
.show-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 30%;
}

.show-table th {
    background-color: #333;
    color: white;
}

.show-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.show-table tr:hover {
    background-color: #ddd;
}