<h2>Área de Gerência - Cadastro</h2>
<p>Gerencie os jogos cadastrados no banco.</p>

<div class="container">
    <div class="cadastro">
        <nav>
            <button (click)="openModal()">Novo jogo</button>
        </nav>
        <hr>
    </div>

    <app-modal 
        [visible]="modalVisivel" 
        [title]="editando ? 'Editar Jogo' : 'Inserir Novo Jogo'" 
        [game]="game"
        (closed)="closeModal()" 
        (confirm)="salvarJogo($event)">
    </app-modal>

    <form>
        <table>
            <thead>
                <tr>
                    <th>Nome: </th>
                    <th>Tipo:</th>
                    <th>Ano:</th>
                    <th>Ações:</th>
                </tr>
            </thead>
            <tbody>
                @if(games.length === 0) {
                <tr>
                    <td colspan="4">Nenhum jogo cadastrado.</td>
                </tr>
                }@else {
                @for(game of games; track game.id) {
                <tr>
                    <td>{{ game.nome }}</td>
                    <td>{{ game.tipo }}</td>
                    <td>{{ game.ano }}</td>

                    <td>
                        <button (click)="editar(game)">Editar</button>
                        <button (click)="excluir(game.id!)">Excluir</button>
                    </td>
                </tr>
                }
                }

            </tbody>
        </table>
    </form>
</div>