<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício de BackEnd com nodejs e express</title>
</head>
<body>
    <div class="container">
        <form >
            <label for="">Nome:</label>
            <input type="text">

            <label for="">CPF:</label>
            <input type="text">

            <button type="submit">Inserir clientes</button>
        </form>
    </div>
    
</body>
</html>